@tailwind base;
@tailwind components;

@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/GilroyBold/font.woff2") format("woff2"),
    url("../public/fonts/GilroyBold/font.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/GilroyExtraBold/font.woff2") format("woff2"),
    url("../public/fonts/GilroyExtraBold/font.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/GilroySemiBold/font.woff2") format("woff2"),
    url("../public/fonts/GilroySemiBold/font.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/GilroyLight/font.woff2") format("woff2"),
    url("../public/fonts/GilroyLight/font.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/GilroyRegular/font.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("../public/fonts/GilroyMedium/font.woff2") format("woff2"),
    url("../public/fonts/GilroyMedium/font.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Recoleta";
  src: url("../public/fonts/RecoletaBlack/font.woff2") format("woff2"),
    url("../public/fonts/RecoletaBlack/font.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Recoleta";
  src: url("../public/fonts/RecoletaMedium/font.woff2") format("woff2"),
    url("../public/fonts/RecoletaMedium/font.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
  font-family: Gilroy;
}

body {
  /* padding-left: 20px;
  padding-right: 20px; */
  padding-left: 2rem;
  padding-right: 2rem;
}

nav ul {
  font-size: 1.1rem;
  display: flex;
  font-weight: 600;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  margin: 10px;
  padding-bottom: 5px;
}

nav ul li,
.theme-toggle,
.audio-toggle {
  margin: 10px;
}

footer {
  padding: 64px 0px 32px;
  display: grid;
  place-items: center;
}

.landing {
  height: calc(100vh - 115px);
}

.heading,
img {
  display: grid;
  place-items: center;
  text-align: center;
}

.heading h1 {
  font-family: Recoleta;
  font-weight: 900;
  padding-bottom: 1rem;
  font-size: 4.5rem;
  line-height: 1;
}

.landing h1 {
  font-size: 4.9rem;
}

.main-subheading {
  font-size: 1.6rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.025em;
  color: #8f8f8f;
  max-width: 300px;
  /* padding-bottom: 8rem; */
  margin-bottom: 8rem;
  background-image: linear-gradient(135deg, #6303fe 25%, #03cffe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-weight: 600;
  margin: 0 auto;
}

html.dark .main-subheading,
html.dark .hero-image {
  background-image: linear-gradient(320deg, #03fecf, #03cffe 50%);
}

.page-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

section p {
  padding-bottom: 2rem;
}

section {
  text-align: left;
}

.about h1,
.uses h1,
.blog h1,
.projects h1,
.resources h1 {
  padding-bottom: 4rem;
  padding-top: 6rem;
  overflow: auto;
}

.resource-section-heading h3 {
  font-weight: bold;
  /* color: #03cffe; */
}

.hero-image-wrapper {
  display: grid;
  place-items: center;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

.hero-image {
  border: solid 10px;
  z-index: 200;
  /* width: 180px;
  height: 180px; */
  width: 200px;
  height: 200px;
  border-radius: 9999px;
  background-image: linear-gradient(135deg, #6303fe 25%, #03cffe);
  box-shadow: 0 1.8px 2.2px rgba(0, 0, 0, 0.02),
    0 4.3px 5.3px rgba(0, 0, 0, 0.028), 0 8.1px 10px rgba(0, 0, 0, 0.035),
    0 14.5px 17.9px rgba(0, 0, 0, 0.042), 0 27.2px 33.4px rgba(0, 0, 0, 0.05),
    0 65px 80px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.tech-stack-icons {
  margin: 0 auto;
}

.burger-nav-container {
  padding: 5px;
}

nav,
nav ul {
  width: 100%;
}

.navigation-wrapper {
  justify-content: center;
  padding-top: 1rem;
}

.burger-nav-wrapper {
  justify-content: flex-end;
}

.burger-nav-wrapper button {
  margin: 5px;
  z-index: 1001;
}

.dark nav .burger .burger-lines,
.dark nav .burger .burger-lines:after,
.dark nav .burger .burger-lines:before {
  background-color: #fff;
}

nav .burger .burger-lines,
nav .burger .burger-lines:after,
nav .burger .burger-lines:before {
  background-color: #1d1d1f;
}

.dark .overlay {
  /* opacity: 0; */
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  background-color: rgb(17, 24, 39); /* Black fallback color */
  background-color: rgba(17, 24, 39, 0.9); /* Black w/opacity */
}

.overlay.active {
  z-index: 300;
  opacity: 1;
  transition: opacity 500ms ease 0s;
}

.mobile-navigation-wrapper ul.active {
  pointer-events: auto;
  z-index: 301;
  opacity: 1;
  transition: opacity 500ms ease 0s;
}

.overlay {
  opacity: 0;
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100vh;
  width: 100vw;
  position: fixed; /* Stay in place */
  z-index: -100; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(255, 255, 255); /* Black fallback color */
  background-color: rgba(255, 255, 255, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  backdrop-filter: blur(8px);
  /* transition: opacity 500ms ease 0s; */
}

.mobile-navigation-wrapper ul {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  left: 20px;
  bottom: 100px;
  width: 75%;
  height: 70%;
  z-index: -100;
  flex-direction: column;
  display: flex;
  font-size: 3rem;
  flex-flow: column;
  /* transition: opacity 500ms ease 0s; */
}

.sun-moon {
  padding-left: 5px;
}

.audio {
  padding-left: 10px;
}

.desk-image {
  max-width: 720px;
  height: auto;
}

.topo-image-wrapper,
.desk-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

/* .layout-wrapper {
  max-width: 720px;
  margin: 0px auto;
} */

.uses-wrapper ul {
  list-style-type: disc;
  margin-left: 1rem;
  font-weight: 500;
}

.grid-container ul {
  font-weight: 500;
}

.about-me-text {
  margin-bottom: 2rem;
}

.about p {
  font-size: 1.1875rem;
  line-height: 1.75rem;
}

.uses-wrapper ul,
.grid-container ul {
  font-size: 1.2rem;
}

/* Media query start */
@media (min-width: 640px) {
  .landing h1 {
    font-size: 4.5rem;
  }

  .hero-image-wrapper {
    padding-bottom: 3rem;
  }

  .main-subheading {
    max-width: 470px;
  }

  .hero-image {
    width: 240px;
    height: 240px;
  }

  .navigation-wrapper {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .main-subheading {
    font-size: 1.8rem;
  }

  .about h1,
  .uses h1,
  .blog h1,
  .projects h1,
  .resources h1 {
    padding-top: 8rem;
  }

  .sun-moon,
  .audio {
    position: absolute;
    top: 44px;
  }

  .sun-moon {
    right: 65px;
  }

  .audio {
    right: 25px;
  }
}

@media (max-width: 500px) {
  .landing {
    height: calc(100vh - 200px);
  }
}

/* Form CSS START */
.formkit-submit {
  background: #6303fe;
  padding: 0.5rem 1rem;
  border-radius: 0px 15px 15px 0px;
  font-weight: bold;
  border: solid 5px #6303fe;
  margin-left: -0.25rem;
  letter-spacing: 0.5px;
  color: white;
  transition: background 300ms ease 0s;
}

html.dark .formkit-submit {
  background: #03cffe;
  border: solid 5px #03cffe;
  color: #111827;
}

html.dark .formkit-input {
  border: solid 5px #03cffe;
  color: white;
}

.formkit-submit:hover {
  background: #6303fe;
}

.formkit-input {
  padding: 0.5rem 1rem;
  color: black;
  border-radius: 15px 0px 0px 15px;
  letter-spacing: 0.5px;
  background-color: transparent;
  border: solid 5px #6303fe;
  font-weight: 500;
}

.formkit-fields {
  display: flex;
}

.embeddable-buttondown-form {
  margin-bottom: 3rem;
}

.outer-form-wrapper {
  min-height: 40px;
}
/* Form CSS END */

.email-form-text {
  text-align: center;
  max-width: 320px;
  height: 100px;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.long-story-short-button {
  background: white;
  padding: 0.25rem 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 0px 15px 15px 0px;
  border: solid 6px #6303fe;
  color: #6303fe;
  margin-bottom: 20px;
}

.short-story-long-button {
  background: white;
  color: #6303fe;
  padding: 0.25rem 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 15px 0 0 15px;
  border: solid 6px #6303fe;
}

.story-button-active {
  background: #6303fe;
  color: white;
}

html.dark button.story-button-active.long-story-short-button,
html.dark button.story-button-active.short-story-long-button {
  background: #03cffe;
  color: #111827;
}

html.dark .long-story-short-button,
html.dark .short-story-long-button {
  background: #111827;
  color: #03cffe;
  border: solid 6px #03cffe;
}

html.dark .long-story-short-button,
html.dark .short-story-long-button {
  background: #111827;
  color: #03cffe;
  border: solid 6px #03cffe;
}

@media (max-width: 530px) {
  .long-story-short-button,
  .short-story-long-button {
    padding: 0.25rem 1rem;
    font-size: 1rem;
  }
}

.highlight {
  background-color: #6303fe;
  color: white;
  padding: 0 0.25rem;
}

html.dark em.highlight {
  background-color: #03cffe;
  color: #111827;
}

a.active-link {
  border-bottom: 3px solid #6303fe;
  /* color: #6303FE; */
}

html.dark a.active-link {
  border-bottom: 3px solid #03cffe;
  /* color: #03CFFE; */
}

.grid-wrapper {
  display: grid;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
}
.grid-wrapper > * {
  grid-column: 2;
}

/* .grow { transition: all .4s ease-in-out; }
.grow:hover { transform: scale(0.95); } */

@tailwind utilities;
